{% extends "base.html" %}

{% block additional_styles %}
<style>
    body {
        background-image: url("../../static/photos/blackboard.jpg");
    }
</style>
{% endblock %}

{% block content %}

<div class="title-index-page">
    <div class="title-box">
        <h1>{{ homework.homework_name.upper }}</h1>
    </div>

</div>


<div class="subject-detail btn" style="position: absolute; top: 40%">
    <span class="text noSelect" style="text-align: left">{{ homework.text_homework }}</span>
</div>


{% endblock %}