{% extends "base.html" %}
{% block additional_styles %}
<style>
    body {
        background-image: url("../../static/photos/blackboard.jpg");
    }
</style>
{% endblock %}

{% block content %}

<div class="title-index-page">
    <div class="title-box">
        <h1>{{ subject.subject_name.upper }}</h1>
    </div>
</div>

<div class="content">
    <div class="subject-detail btn">
        <span class="text noSelect">{{ subject.description }}</span>
    </div>

    <br>

    <p><strong>Homework List:</strong></p>

    <div class="items">
        <div class="items-body">
            {% if subject.homework_list %}
            {% for homework in subject.homework_list.all %}
            <div class="items-body-content">
                <span class="univ-name">
                    <a href="{{ homework.get_absolute_url }}"> {{ homework.homework_name }} </a>
                </span>
            </div>
            {% endfor %}
            {% else %}
            <p>There is no homework for this subject</p>
            {% endif %}
        </div>
    </div>


</div>
{% endblock %}


