{% extends "base.html" %}

{% block content %}
<div class="title-index-page">
    <div class="title-box">
        <h1>{{univ.univ_name.upper}}</h1>
    </div>
</div>

<div class="years">
    <p><strong>Years</strong></p>
</div>

<div class="content-years">
    {% if univ.years %}
    <ul class="tilesWrap">
        {% for year in univ.years.all %}
        <li>
            <h2> {{ year.getId }}</h2>
            <h3> {{ year.getName }} </h3>
            <p> Info for this year </p>
            <button> Homework</button>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no years created for this university</p>
    {% endif %}


    {% endblock %}
</div>