{% extends "base.html" %}

{% block content %}
<div class="title-index-page">
    <div class="title-box">
        <h1>UNIVERSITIES LIST</h1>
        <h1>UNIVERSITIES LIST</h1>
    </div>
    <div class="items-body">
        <div class="">
            {% if univ_list %}
            {% for univ in univ_list %}
            <li class="">
                <a href="{{ univ.get_absolute_url }}">{{ univ.univ_name }}</a>
            </li>
            {% endfor %}
            {% else %}
            <p>There are no univ in the list</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}