{% extends "base.html" %}

{% block additional_styles %}
<style>
    body {
        background-image: url("../../static/photos/blackboard.jpg");
    }
</style>
{% endblock %}

{% block content %}

<div class="title-index-page">
    <div class="title-box">
        <h1>
            {{ year.getFullUniversityYearName.upper }}
        </h1>
    </div>

    <div class="container">
        <div class="items">
            <div class="items-body">
                {% for subject in year.subjects.all %}
                <div class="items-body-content">
                    <span class="univ-name">
                        <a href="{{ subject.get_absolute_url }}">{{ subject.subject_name }}</a>
                    </span>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

</div>

{% endblock %}