{% extends "base.html" %}

{% block content %}
<div class="title-index-page">

    <div class="title-box">
        <h1>VMCHECKER</h1>
        <h1>VMCHECKER</h1>
    </div>
    <div class="all-text" style="font-size: 15px">
        <p>Welcome to VmChecker</p>
        <p>VmChecker is a online forum where teachers from different subjects can publish homework for students. <br>
            It is an open-source project released by students from University Politehnica of Bucharest.</p>
        <p>The purpose of this forum is to organize and facilitate the publishing of homework for students.</p>

        <p>Do you want to collaborate?</p>
        <p>VmChecker is a project started in 2020 when the CoronaVirus Pandemic started.
        <br> The forum evolved due to the hard-work of students that contributed.</p>

        <p>Send us an email at: <strong>vmchecker@gmail.com</strong></p>
        <p>Based languages: Python and bash-scripting</p>
    </div>
</div>
{% endblock %}